.main {
  display: flex;
  min-height: 100vh;
}

.info-block {
  background-color: rgb(255, 234, 0);
  width: 200px;
  height: fit-content;
  min-height: 150px;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.server-request-field {
  display: grid;
  justify-content: center;
  background-color: rgb(255, 234, 0);
  width: 200px;
  height: fit-content;
  min-height: 150px;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}


.btn-send-request {
  width: 100px;
  height: 35px;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.btn-show-response {
  width: 100px;
  height: 35px;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.btn {
  height: 35px;
  width: 100px;
  font-size: 1.1em;
  color:rgb(254, 254, 254);
  background-color: black;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.btn-user-names {
  cursor: pointer;
}

.btn-user-names:active {
  background-color: rgb(36, 36, 36);
}




.btn-container {
  display:grid;
  justify-content: center;
}

.btn-user-show-noneActive {
  background-color: darkgrey;
  color: grey;
}
.btn-user-show-Active {
  background-color: rgb(2, 250, 2);
  color:black;
  cursor: pointer;
}